@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


$font-family: 'Cutive Mono',
monospace;
$green: #00FF00;
$greenBlack: #126b0f;
$black: #000000;
$blackTransparent: #000000b2;
$error: #800000;

* {
    font-size: 1em;
    font-family: $font-family;
    color: $green;
}

a {
    color: $green;
    text-decoration: none;
}

a:hover {
    color: $error;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $black;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    max-width: 1000vw;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $blackTransparent;
    height: 10vh;

    p {
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

form {
    padding: 5px;
    border-top: $greenBlack 1px solid;
    border-bottom: $greenBlack 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
        width: 80%;
        height: 30px;
        color: $green;
        border: none;
        background: none;
    }

    input:focus {
        outline: none;
    }

    button {
        margin-right: 10px;
        width: 20%;
        max-width: 200px;
        height: 30px;
        border: $greenBlack 1px solid;
        color: $green;
        background: none;
        cursor: pointer;
    }
}

.principal {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 90vh;

    aside {
        border-left: $greenBlack 1px solid;
        width: 20%;
        padding: 10px;
        position: fixed;
        right: -0px;
        height: 100%;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    section {
        width: 80%;
        padding-top: 20px;

        ul {
            list-style: none;
            margin: 0;
            padding-bottom: 10vh;

            li {
                margin-bottom: 0.5em;
            }

            span {
                color: $greenBlack;
                font-weight: 900;
            }

            strong {
                color: $error;
            }
        }
    }
}