@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Special+Elite&display=swap');


$font-family: 'Special Elite';
$green: #00FF00;
$greenBlack: #048600;
$black: #000000;
$blackTransparent: #000000b2;

* {
    font-size: 1em;
    font-family: $font-family;
    color: $green;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $black;
    width: 100%;
    max-height: 90vh;
    max-width: 90vw;
}

header {
    h1 {
        white-space: nowrap;
    }
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $blackTransparent;

    p {
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

form {
    padding: 5px;
    border-top: $greenBlack 1px solid;
    border-bottom: $greenBlack 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
        width: 80%;
        height: 30px;
        color: $green;
        border: none;
        background: none;
    }

    input:focus {
        outline: none;
    }

    button {
        margin-right: 10px;
        width: 20%;
        max-width: 200px;
        height: 30px;
        border: $green 1px solid;
        color: rgb(102, 255, 0);
        font-family: 'Special Elite', cursive;
        background: none;
        cursor: pointer;
    }
}


.chat {
    ul {
        list-style: none;
        margin: 0;
        padding-bottom: 40px;

        li {
            color: chartreuse;
            margin-bottom: 0.5em;
        }

        span {
            color: $greenBlack;
            font-weight: 900;
        }
    }
}